.myBG {
    height: 65vh;
    background: url("../assets/mv.jpg");
    background-size: cover;
}

.intro {
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 3px;
}

.trending {
    height: auto;
    background: url("../assets/trending.webp");
    background-size: cover;
}

.movieImage {
    height: 200px;
    background-color: black;
    margin: 5px;
    padding: 5px;
}

.images {
    height: 500px;
}

.moviWrapper {

}